body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  color: #282828;
}

header {
  background-color: #282828;
  color: whitesmoke;
}

ul {
  display: flex;
  list-style-type: none;
  padding: 25px;
  align-items: center;
  gap: 10px;
  margin: 0;
}

li {
  cursor: pointer;
}

.logo {
  font-size: 18px;
  font-weight: 700;
}

.icon {
  width: 25px;
}

h1 {
  font-size: 40px;
  font-weight: 400;
  margin: 30px 25px;
}

.caption {
  margin: 0 25px;
}

.workspace-img {
  width: 100%;
}

.menu-right {
  margin-left: auto;
}

.workspace-item {
  position: relative;
}

.banner {
  display: inline;
  background-color: lightcoral;
  padding: 10px;
  position: absolute;
  top: 0;
  left: 0;
  color: whitesmoke;
  font-size: 1.25em;
}
